{% if form.errors %}
    <p>Your user name and password didnot match</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesnot have access to this page. To proceed please login</p>
    {% else %}
        <p>Please login to see the page</p>
    {% endif %}
{% endif %}

<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

     <input type="Submit" value="login">
     <input type="hidden" name="next" value="{{ next }}">
</form>

{% comment %} <p><a href="{% url 'password_reset' %}">Lost Password?</a></p> {% endcomment %}